<div class="col-xs-12">
    <form>
        <div class="col-xs-12">
            <label for="AppName">App Name</label>
            <input id="AppName" name="AppName"/>
        </div>

        <div class="col-xs-12">
            <label for="Path">Source Path</label>
            <input id="Path" name="Path"/>
        </div>

        <div class="col-xs-12">
            <label for="AppName">Command</label>
            <input id="Command" name="Command"/>
        </div>

    </form>
</div>