<h2>Grant Admin Privileges</h2>
<form method="post" action="/Account/GrantAdminPrivileges">
    <input type="text" name="NewAdminUserName" placeholder="New Admin"/>
    <br>
    <button type="submit">Submit</button>
</form>

<form method="post" action="Account/RevokeMyAdminPrivileges">
    <button type="submit">Revoke My Privilege</button>
</form>