<div class="row">
    <div class="col-xs-12">
        <h2>App Configuration</h2>
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <label for="EditAppName">App Name</label>
    <input ng-model="activeApp.name" name="EditAppName"/>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <label for="EditAppStartCommand">Start Command</label>
    <input name="EditStartCommand" ng-model="activeApp.startCommand"/>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <button class="btn btn-primary" id="SaveAppButton" ng-click="addPiDashApp()">Save App</button>
    <button class="btn btn-primary" id="AddAppButton" ng-click="retrieveApps()">Retrieve Apps</button>
</div>