<div class="col-xs-12">
    <h2>App Configuration</h2>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <label for="EditAppName">App Name</label>
    <input ng-model="activeApp.appName" name="EditAppName"/>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <label for="EditAppStartCommand">Start Command</label>
    <input name="EditStartCommand" ng-model="activeApp.startCommand"/>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <label>Log Path</label>
    <input name="LogPath" ng-model="activeApp.logPath"/>
</div>
<div clas="col-xs-12 col-md-6 col-lg-8">
    <div class="col-xs-12">
        <select ng-model="activeApp" ng-options="app.logFiles for app in apps" class="col-xs-12">
        </select>
    </div>

    <div class="col-xs-12">
        <label for="AddLogName">Log Name</label>
        <input ng-model="addLogName" id="AddLogName" name="AddLogName"/>
    </div>
    <div class="col-xs-12">
        <label for="AddLogPath">Path</label>
        <input ng-model="addLogPath" id="AddLogPath" name="AddLogPath"/>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <button>Add Log</button>
        </div>
        <div class="col-xs-6">
            <button>Delete Log</button>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <button class="btn btn-primary" id="AddAppButton" ng-click="addApplication()">Add App</button>
</div>