<div class="row">
    <div class="col-xs-12"><h2>App Logs</h2></div>
</div>
<div class="row" ng-repeat="appLog in activeAppLogs track by $index">
    <div class="col-xs-12">
        <label for="LogName">Log Name</label><input type="text" ng-model="appLog.name" id="LogName"/>
    </div>
    <div class="col-xs-12">
        <label for="LogPath">Log Path</label><input type="text" ng-model="appLog.path" id="LogPath"/>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-sm-6 col-xs-12"><button class="btn">Save</button></div>
            <div class="col-sm-6 col-xs-12"><button class="btn btn-default" ng-click="deleteActiveAppLog($index)">Delete Log</button></div>
        </div>
    </div>
    <hr/>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-default" ng-click="addActiveAppLog()">Add Log</button>
    </div>
</div>