<h2>Change Password</h2>
<form method="post" action="/Account/ChangePassword">
    <input type="password" name="OldPassword" placeholder="Current Password"/>
    <br>
    <input type="password" name="NewPassword" placeholder="New Password"/>
    <br>
    <input type="password" name="RepeatNewPassword" placeholder="Confirm New Password"/>
    <br>
    <button type="submit">Reset</button>
</form>