.register-form {
  max-width: 400px;
  margin: auto;
}
.register-form label {
  text-align: left;
}

.register-form input { margin-bottom: 1em; }

.alert-container {
  width: 100%;
  position:fixed;
  top: 0px;
  left: 0px;
}
