<h2>Change Password</h2>
<ngb-alert [dismissible]="true" (close)="alert.onClose()" [type]="alert.type" *ngIf="alert.enabled">{{alert.message}}</ngb-alert>
<form #changePasswordForm (ngSubmit)="submitChangePassword(changePasswordForm)">
  <input [(ngModel)]='currentPassword' type="password" name="OldPassword" placeholder="Current Password"/>
  <br>
  <input [(ngModel)]='newPassword' type="password" name="NewPassword" placeholder="New Password"/>
  <br>
  <input [(ngModel)]='repeatNewPassword' type="password" name="RepeatNewPassword" placeholder="Confirm New Password"/>
  <br>
  <button type="submit">Reset</button>
</form>
