<div id="ConsoleArea" class="row">
  <label clas="col-xs-12">Console</label>
  <textarea class="col-xs-12" id="Console" ng-bind="activeApp.console" readonly>{{activeApp.console}}</textarea>
  <input type="text" placeholder="Command" class="col-xs-12" id="CommandInput" ng-model="command"/>
  <button class="col-xs-6 btn btn-primary" id="ExecuteButton" ng-click="executeCommandActive()">Execute
  </button>
  <button class="col-xs-6 btn btn-primary" id="RefreshButton" ng-click="refreshConsole(activeApp)">Refresh
    Console
  </button>
</div>
