<!DOCTYPE html>
<html>

	<head lang="en">
		<title>PiDash</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<% include bundles/bundle %>
	</head>
	<body>
		<% include partials/header %>
		<div id="PiDashContainer" ng-app="PiDashApp">
        	<% include partials/memorywidget %>
			<% include partials/cpuwidget %>
		</div>
		<% include partials/footer %>

	</body>

</html>
