<!DOCTYPE html>
<html>

<head lang="en">
    <title>PiDash</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/content/css/servermanager.css"></link>
    <% include bundles/bundle %>
    <% include bundles/pidash %>
</head>
<body>
<% include partials/header %>
<div class="container server-manager-container">
    <div ng-app="PiDashApp" ng-controller="serverManagerController">
        <h1>Server Manager</h1>
        <div class="container container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-3">
                    <% include partials/appdetails %>
                    <% include partials/applist %>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-9">
                    <div class="col-xs-12"><% include partials/appconsole %></div>
                    <div class="col-xs-12"><% include partials/appconfiguration%></div>
                    <div class="col-xs-12"><% include partials/permissionconfiguration %></div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>
</body>

</html>
