<div class="container server-manager-container">
  <div ng-app="PiDashApp" ng-controller="serverManagerController">
    <h1>Server Manager</h1>
    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3">
          <app-app-list></app-app-list>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9">
          <app-app-details></app-app-details>
          <div class="col-xs-12"><app-app-console></app-app-console></div>
          <!--<%if(admin){%>-->
                    <div ng-switch="selectedConfigMenu" >
                    <div class="col-xs-12 permission-button-container">
                        <div class="col-xs-4" ><button class="btn btn-primary" ng-click="setMenu(configMenus.App)">App</button></div>
                        <div class="col-xs-4" ng-click="setMenu(configMenus.Permissions)"><button class="btn btn-primary">Permissions</button></div>
                        <div class="col-xs-4" ><button ng-click="setMenu(configMenus.Log)" class="btn btn-primary">Logs</button></div>
                    </div>

                    <div class="menu-body col-xs-12">

                      <div class="col-xs-12" ng-switch-when="App"><app-app-configuration></app-app-configuration></div>
                      <div class="col-xs-12" ng-switch-when="Permissions"><app-permission-configuration></app-permission-configuration></div>
                      <div class="col-xs-12" ng-switch-when="Log"><app-log-configuration></app-log-configuration></div>

                    </div>
                    </div>
                    <div class="col-xs-12 footer-bar">
                        <hr>
                        <button class="btn btn-primary" id="SaveAppButton" ng-click="addPiDashApp()">Save App</button>
                        <button class="btn btn-primary" id="AddAppButton" ng-click="retrieveApps()">Retrieve Apps</button>
                    </div>
                    <!--<% }%>-->
        </div>
      </div>
    </div>
  </div>
</div>
